   <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--head fragment 传参数title,默认为管理后台-->
<head th:fragment="head(pagename)">

    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>

    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<!--top fragment-->
    <header th:fragment="top" id="header" >
            <div class="container" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">个人网站</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">算法学习<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">算法进阶</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">有趣的事<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">数学故事</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">名人传记</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">数学应用</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">问题反馈</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户登录<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">我的信息</a></li>
                                <li><a href="#">修改密码</a></li>
                                <li><a href="#">我的课程</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">退出登录</a></li>
                            </ul>
                        </li>
                        <li><a href="/managementBackStage/login">进入管理后台</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
    </header>

<!--左侧导航栏-->
    <header th:fragment="left" id="left">
        <div class="nav">我是导航栏</div>
    </header>


<script>
    /*<![CDATA[*/
    $(document).ready(function () {
        var top = $('.nav').offset().top;
        $(document).scroll(function () {
            var scrTop = $(window).scrollTop();
            if (scrTop >= top) {
                $('.nav').css({'position': 'fixed', 'top': '0', 'width': '100%'});
            } else {//否则清空悬浮
                $('.nav').css({'position': '', 'top': ''});
            }
        })
    })


    /*]]>*/
</script>



</html>
